In [1]:
print("Kiran213")

Kiran213

In [2]:
#importing pandas

import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\Harshada Gharge\\Downloads\\customer_shopping_behavior.csv')

In [4]:
df.head(9)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually

df.info()

In [5]:
df.describe(include='all')

# describe provides summary stats for numeric only, include = all provides for all

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [6]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [7]:
#df1 = df['Review Rating'].fillna(df['Review Rating'].median,inplace =True)
# this was my try 
# but since there are category the entire median cannot be taken 
#eg: if the category is footwear median will be calculated using clothing category data.
#we want to calculate median    category wise only.

In [8]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [9]:
df['Review Rating'].dtypes

dtype('float64')

In [10]:

print(df.columns)

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [11]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))


# Lambda works like a function only instead of writing a whole funct we use lambda

In [12]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [13]:
df['Review Rating'].isnull().sum()

np.int64(0)

In [14]:
#changing column names in snake format (lowercase and spaces removed)

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [15]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [16]:
## Renaming a column 

df = df.rename(columns = {'purchase_amount_(usd)': 'purchase_amount_usd'})

df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_usd', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [17]:
# CREATE A NEW COLUMN age_group : to group customers into age groups

values = ['young_adult','Adult','Middle_aged','Senior']

df['age_group'] = pd.qcut(df['age'],q=4,labels = values) 


#qcut : cuts the data into 4 equal parts according to the data distribution

df[['age','age_group']].groupby

In [18]:
df[['age_group']].drop_duplicates()

#if you want to check unique values from columnn

      age_group
0   Middle_aged
1   young_adult
6        Senior
26        Adult

In [19]:
# create a new  column: purchase frequency days
# we  have an existing column frequency_of_purchases


# unique values in a column 


df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [20]:
frequency_mapping = {'Fortnightly': 14,
                     'Weekly': 7 ,
                     'Annually': 365,
                     'Quarterly': 90, 
                     'Bi-Weekly': 14,
                       'Monthly': 30, 
                     'Every 3 Months':90 }

# created a dictionary for freq mapping since the data is in text format convertred to numeric

# new column creation 

df['purchase_freq_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [21]:
df[['frequency_of_purchases','purchase_freq_days']].head(6)

  frequency_of_purchases  purchase_freq_days
0            Fortnightly                  14
1            Fortnightly                  14
2                 Weekly                   7
3                 Weekly                   7
4               Annually                 365
5                 Weekly                   7

In [22]:
# checking redundant column 

df[['promo_code_used','discount_applied']].head(10)

  promo_code_used discount_applied
0             Yes              Yes
1             Yes              Yes
2             Yes              Yes
3             Yes              Yes
4             Yes              Yes
5             Yes              Yes
6             Yes              Yes
7             Yes              Yes
8             Yes              Yes
9             Yes              Yes

In [23]:
(df['discount_applied'] == df['promo_code_used']).all()

#checking if all rows in both column match ,if true any 1 col can be dropped

np.True_

In [24]:
df= df.drop('promo_code_used',axis = 1)

# axis=1 → tells Pandas this is a column, not a row

# axis=0 → rows
# axis=1 → columns

In [25]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_usd', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_freq_days'],
      dtype='object')

In [26]:
pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\harshada gharge\anaconda3\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\harshada gharge\anaconda3\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\users\harshada gharge\anaconda3\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\harshada gharge\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [27]:
#Connecting to [postgre sql]  


username = "postgres" #default user
password = "21Oct2000" # password set during installation
host = "localhost" 
port = "5432"
database = "cust_behviour_YT_DA_PROJECT_DB"  #database created in pgadmin

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

#Step 2 Load database into postgre sql

Table_name = "customer" 
df.to_sql(table_name, engine,if_exists = "replace", index = False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}")

SyntaxError: unterminated string literal (detected at line 3) (2953954801.py, line 3)

In [2]:
def weird(n):
    if (n%2== 0 and n  ) or (n%2== 0 and n > 20):
        print("Not Weird")
    elif (n % 2 != 0) or (n%2== 0 and n in range(6,21)) :
        print("Weird")

In [7]:
weird(3)

Weird

In [11]:
range(3)
for i in range(3):
    print(i*i)

0
1
4

In [27]:



def is_leap(year):
    if year% 400 == 0 or (year% 4 == 0 and year%100 !=0) :
        
    else: 
        print("False")
    


year = int(input())
print(is_leap(year))

 1900

False
None

In [26]:
is_leap(1900)

False

In [42]:
# could be asked in an interview 


def swap_case(s):
    result = ""
    for i in s:
        if i.islower():
            result += i.upper()
        elif i.isupper():
            result += i.lower()
        else:
            result +- i
    return result

In [43]:
swap_case("UluL")

'uLUl'

In [ ]:
#0,1,1,2,3,5,8,13

# Fibonnaci series 

#assigning initial numbers
a = 0  
b = 1

#since we need to start  0 and 1 is already assigned need to start from 2 to any n number.
def fibonacci(n):
    for i in range(2,n):
        c = a+b
        print c

In [62]:
a =0 
b = 1
for i in range(2,12):
        c = a + b
        a 
    
        print(c)

1
1
1
1
1
1
1
1
1
1

In [57]:

range(1,12)[:-1]

range(1, 11)